<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/open_mtas?autoReconnect=true</property>
		<property name="hibernate.connection.username">openmtas</property>
		<property name="hibernate.connection.password">openmtas</property>
		<property name="hibernate.show_sql">true</property>
		<!-- <property name="hibernate.current_session_context_class">thread</property> -->

		<property name="connection.autoReconnect">true</property>
		<property name="connection.autoReconnectForPools">true</property>
		<property name="connection.is-connection-validation-required">true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.c3p0.min_size">2</property>
		<property name="hibernate.c3p0.max_size">4</property>
		<property name="hibernate.c3p0.timeout">300</property>
		<property name="hibernate.c3p0.max_statements">0</property>
		<property name="hibernate.c3p0.idle_test_period">100</property>
		<property name="hibernate.connection.autoReconnectForPools">true</property>
		<property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
		







	    <mapping class="com.openmtas.database.pojo.Subscriber" />
	    <mapping class="com.openmtas.database.pojo.SimpleSubscriber" />
	    <mapping class="com.openmtas.database.pojo.CorporateSubscriber" />
	    <mapping class="com.openmtas.database.pojo.Conference" />
	    <mapping class="com.openmtas.database.pojo.SubscriberConfiguration" />
	    <mapping class="com.openmtas.database.pojo.AbbreviatedDialingConfiguration" />
	    <mapping class="com.openmtas.database.pojo.Group" />
	</session-factory>


</hibernate-configuration>
